<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Meet Me App</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
 
<!-- Our own style sheet -->
<link rel="stylesheet" href="/static/css/busy.css" />

</head>


<body>
<div class="container">

<h1>Meet Me Proposer Application</h1>
<h4>Current Proposals</h4>

{% if session.proposals is defined  %}
  {% for proposal in session.proposals %}
  <div class="row">  
    <div class="col-md-4">
        <input type="checkbox" id="{{ proposal._id }}">
        <a href="view_meeting/{{ proposal._id }}">{{ proposal.title }}</a>
    </div>
  </div>  
  
  {% if loop.last %}
  <br>
  <input type="submit" id="deleteProposalButton" value="Delete selected proposals">
  <br>
  {% endif %}  
  {% endfor %}
{% else %}
  
    No meetings have been proposed.
    <br>
  
{% endif %}


<br>
<input type="submit" id="createProposalButton" value="Propose new meeting">



</div>  <!-- end container (for bootstrap) -->
</body> 

<script>
$("#deleteProposalButton").click( function() {
	var checked = $("input:checked");
	var ids = "";
	
	for (var i = 0; i < checked.length; i++) {
		ids += checked[i].id + ";";
	}
	
	$.getJSON("/_delete_meetings", 
		{meeting_ids: ids},
		function(data) {
			window.location.href = "index";
		});
});


$("#createProposalButton").click( function() {
	window.location.href = "propose_meeting";
});
</script>
</html>
