<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Respond to a Proposal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
 
<!-- Our own style sheet -->
<link rel="stylesheet" href="/static/css/busy.css" />

</head>


<body>
<div class="container">

<h1>Respond to a meeting</h1>
<h4>You have been invited to a meeting!</h4>



  Title: <input type="text" id="title" size=50 placeholder="Meeting title" readonly><br><br>
  Proposer: <input type="text" id="proposer" placeholder="Your name" readonly><br><br>
  Description: <textarea id="desc" rows=4 cols=50 placeholder="Details, location, etc. (optional)" readonly></textarea><br><br>

  Date Range: <input type="text" id="daterange" size="24" readonly>

  <br><br>
  
  Between <input type="time" id="begin_time" readonly>  and  <input type="time" id="end_time" readonly>
<br><br>
<hr>

<label>
<input type="submit" id="useGcal" value="Respond using Google Calendar">
<br><br>
<input type="submit" id="manualSelection" value="Respond by manual selection">
</label>



</div>  <!-- end container (for bootstrap) -->
</body> 

<script>
$("#useGcal").click(function() {
	window.location.href = "respond_gcal";
});
</script>

<script>
    //this function will take the window.location.search string of ?name=val and
    //create an object like {'name':'val'}
    var parseUrl = function(urlParams) {
        var retObj = {};
        var urlParameters = null;

        if (!urlParams || urlParams.length == 0) {return retObj}
        if (urlParams.charAt(0) == '?') {
            urlParameters = urlParams.substring(1);
        }else {
            urlParameters = urlParams;
        }
        if (urlParameters.length == 0) {return retObj}
        var parameterPairs = urlParameters.split('&');
        var x;
        for (x in parameterPairs) {
            var parameterPair = parameterPairs[x];
            parameterPair = parameterPair.split('=');
            retObj[parameterPair[0]] = parameterPair[1];
        }
        return retObj;
    };
    
    var setMeetingData = function(id) {
    	$.getJSON('/_get_meeting_data', 
    		{meeting_id : id},
    		function(data) {
    			var result = data.result;
    			$("#title").val(result.title);
    			$("#proposer").val(result.proposer_name);
    			$("#desc").val(result.desc);
    			$("#daterange").val(result.start_date + " - " + result.end_date);
    			$("#begin_time").val(result.start_time);
    			$("#end_time").val(result.end_time);
    		}
    	);	
    };
    
    var setSessionVar = function(id) {
    	$.getJSON('/_set_meeting',
    		{meeting_id: id},
    		function(data) {
    			// Do nothing
    		}
    	);
    };
    window.onload = function () {
    	args = parseUrl(window.location.search);
    	meeting_id = args['id'];
    	
    	// setSessionVar(meeting_id);
    	setMeetingData(meeting_id);
    	
    };


</script>
</html>
